---
Language: Cpp
# BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
IndentCaseLabels: false

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true

# Allow longer lines
ColumnLimit: 120

# Braces
BreakBeforeBraces: Attach
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  SplitEmptyFunction: false

# Spaces
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Other
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
PointerAlignment: Right

# Includes
SortIncludes: false

# Comments
ReflowComments: false
